<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Tenant"         value="SLENNON.onmicrosoft.com" />
    <add key="ClientId"       value="1513d3f0-518b-4e65-af6d-3ff03d866485" />  <!-- in new Azure Portal it is called "application id" -->
    <add key="ClientSecret"   value="" /> <!-- leave empty to use user authentication -->
    <add key="SubscriptionId" value="0ccd76b1-ee8b-436a-a427-f80ecd55c36b" />
    <add key="RedirectUrl"    value="https://localhost/" />
    
    <!-- RateCard API Parameters -->
    <add key="OfferDurableId" value="MS-AZR-0003p" />  <!-- see: https://azure.microsoft.com/en-us/support/legal/offer-details/ --> 
    <add key="Currency"       value="AUD" />  <!-- EUR, USD, GBP, ... --> 
    <add key="Locale"         value="en-US" />
    <add key="RegionInfo"     value="AU" />

    <add key="CsvFilePath"    value="d:\downloads\ratecarddata.csv" />

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>